---
stages:
  - test

include:
  - project: 'connylegal/mietright_deployments'
    ref: main
    file: '/.gitlab-ci/build-container.yaml'
    
  - project: 'connylegal/mietright_deployments'
    ref: main
    file: '/.gitlab-ci/trivy.yaml'

variables:
  FAILFASTCI_NAMESPACE: connylegal
  OCI_REPO: img.conny.dev
  CONTAINER: conny/enginepy
  IMAGE_NAME: $OCI_REPO/$CONTAINER
  APPNAME: enginepy
  APP: enginepy
  DEFAULT_TAG: v.$CI_COMMIT_REF_SLUG


# # run TEST
unit test:
  image:
    name: python:3.14
  stage: test
  before_script:
    - pip install uv -U
    - uv sync --all-extras
  script:
    - make test
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
      junit: report.xml
  tags:
    - kubernetes


code lint:
  image:
    name: python:3.14
  stage: test
  before_script:
    - pip install uv -U
    - uv sync --all-extras
  script:
    - make check
  tags:
    - kubernetes

# ---------------------------------------------------------------------------
# TRIVY SCANNERS (Filesystem only, Parallel, Table Output)
# ---------------------------------------------------------------------------
    
# 1. Vulnerabilities Scanner
trivy-vuln:
  extends: .trivy-vuln

# 2. Misconfiguration Scanner (IaC)
trivy-misconfig:
  extends: .trivy-misconfig

# 3. License Scanner
trivy-license:
  extends: .trivy-license
    
